@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background-color: #fafafa;
}
*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #988cff, #e3aff6);
  border-radius: 50px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  font-size: 16px;
  font-weight: 400;
  margin:0px auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
}
input {
  outline:none;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  overflow: hidden;
}
//---------header---------

.active-tablet.active {
  color:white;
  position: relative;
  transition: all 0.5s linear;
  z-index: 5;
  &::before {
    content: "";
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #4575d8;
    border-radius:30px;
    z-index: -1;
    animation: effect 0.3s linear;
  }
  @keyframes effect {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
@media screen and (max-width: 640px) {
  .dropdown {
    width: 50%;
  }
}
@media screen and (max-width: 468px) {
  .dropdown {
    width: 60%;
  }
}
@media screen and (max-width: 390px) {
  .dropdown {
    width: 80%;
  }
}
@media screen and (max-width: 375px) {
  .dropdown {
    width: 100%;
  }
}
.is-sticky {
  background:white;
  z-index:50;
  transition: all 0.5s linear;
}
.nav-mobile {
  -webkit-box-shadow: -6.5px -14.5px 11px -12px rgba(64, 64, 64, 0.26);
  -moz-box-shadow: -6.5px -14.5px 11px -12px rgba(64, 64, 64, 0.26);
  box-shadow: -6.5px -14.5px 11px -12px rgba(64, 64, 64, 0.26);
}

//-------------------banner---------
.circle-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:280px;
  height:280px;
  @media screen and (min-width:1024px){
    width:400px;
    height:400px;
  }
  @media screen and (min-width:768px){
    width:350px;
    height:350px;
  }
  border-radius: 50%;
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
  animation: changeColor 5s linear infinite;
}
@keyframes changeColor {
  0%,
  100% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f,
      inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
      0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #0ff,
      inset -20px 0 80px #f0f, inset 20px 0 300px #fff, inset -20px 0 300px #f0f,
      0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.circle {
  transition: all 0.25s linear;
}
.btn {
  &:hover {
    .circle {
      width: 100%;
      height: 100%;
      right: 0;
    }
  }
}
.banner-product-img {
  transition: all 0.5s linear;
  animation: showSlice 3s linear infinite;
}
@keyframes showSlice {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}

///---BannerShop---
.banner-left,
.banner-right {
  transition: all 0.3s linear;
}
.banner-sale:hover {
  .banner-left,
  .banner-right {
    @apply bg-opacity-20;
  }
  .banner-left {
    left: -100px;
  }
  .banner-right {
    right: -100px;
  }
}

// ---slider product----
.slider-product-home {
  .slick-track {
    display: flex;
    gap: 0px 25px;
  }

  /// custom button slider
  .slick-arrow {
    position: absolute;
    right: 0;
    padding: 0px 20px;
    height: 33px;
    border: 1px solid #eee;
    border-radius: 8px;
    font-size: 14px;
    transition: all 0.1s linear;
    border-color: #4575d8;
    color:#4575d8;
    font-weight: 500;
    @media screen and (min-width:640px) {
      top:0;
    }
    @media screen and (max-width: 640px) {
      bottom:-50px;
    }
    &:hover {
      background: #4575d8;
      color:white;
    }
  }
  .slick-prev {
    right: 90px;
  }
}

// ----card-item------

.card:hover {
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow: -12px 12px 24px #d1d1d1, 12px -12px 24px #ffffff;
}

// ---- card-desc-----
.card-desc {
  transition: all 0.2s linear;
  &:hover {
    @apply bg-primary bg-opacity-80;

    h3 {
      @apply text-white;
    }
    p {
      @apply text-white;
    }
  }
}
//TEXT EFFECT COUNTDOWN
.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(33, 33, 33, 0);
}
.glitch {
  position: relative;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 4px;
  z-index: 1;
  font-size:25px;
  @media screen and (min-width:1024px) {
    font-size:40px;
  }
  @media screen and (min-width:768px) {
    font-size:35px;
  }
  @media screen and (min-width:640px) {
    font-size:30px;
  }
}
.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
    infinite;
  color: #4575d8;
  z-index: -1;
}

.glitch:after {
  animation: glitch-color 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #f14550;
  z-index: -2;
}

@keyframes glitch-color {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

.timer {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  z-index: 10;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
  }
}
.countdown {
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(12, 38, 131, 1) 48%,
    rgba(68, 30, 110, 1) 81%,
    rgba(136, 3, 42, 1) 100%,
    rgba(189, 10, 10, 1) 100%,
    rgba(166, 36, 54, 1) 100%
  );
}
.blob {
  position: absolute;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255, 0.42) 31.77%,
    #5c9df1 100%
  );
  mix-blend-mode: color-dodge;
  -webkit-animation: move 25s infinite alternate;
  animation: move 25s infinite alternate;
  transition: 0.5s cubic-bezier(0.07, 0.8, 0.16, 1);
}

.blob:hover {
  width: 520px;
  height: 520px;
  -webkit-filter: blur(30px);
  filter: blur(30px);
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.6),
    inset 100px 100px 0 0px #fa709a, inset 200px 200px 0 0px #784ba8,
    inset 300px 300px 0 0px #2b86c5;
}

@-webkit-keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform: translate(-100px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

// ---- intro-------

.card-intro {
  position: relative;
  transition:all 0.25s linear;

  &:before {
    content: "";
    position: absolute;
    inset:0;
    z-index: -1;
    background: linear-gradient(-45deg, #45caff 0%, #ff1b6b 100%);
    transform: translate3d(15px, 33px, 0) scale(0.95);
    filter: blur(47px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset:0;
    background: inherit;
    border-radius: inherit;
  }
}

.socials {
  background-color: #fff;
  box-shadow: 0px 10px 20px -8px rgba(0, 111, 255, 0.53);
  transition: all 0.25s linear;
  &:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, 0.9);
  }
}

.letter {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 15.5px 32px 1px #dddddd;
  -moz-box-shadow: 0 15.5px 32px 1px #dddddd;
  box-shadow: 0 15.5px 32px 1px #dddddd;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
    z-index: 0;
  }
}
.bannerShop {
  background: #474bff;
  background: -webkit-linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
  background: linear-gradient(0deg, #474bff 0%, #bc48ff 100%);
}
.card-content {
  height: calc(100% - 300px);
}
.pagination {
  background: #fafafa;
  box-shadow: 5px 5px 10px #e4e4e4, -5px -5px 10px #ffffff;
}
.pageCountActive, .activeCount {
  background:#4575d8;
  color:white;
}

.show-cate {
  background: #ffffff;
  box-shadow: 6px 6px 12px #ebebeb, -6px -6px 12px #ffffff;
}
.active-pagination, .activeImg {
  background:#4575d8;
}

.scrollTop > .arrowUp {
  animation: scroll 1s linear infinite;
  @keyframes scroll {
    0%,
    100% {
      transform: translateY(2.5px);
    }
    50% {
      transform: translateY(-2.5px);
    }
  }
}

@media screen and (max-width: 640px) {
  .list-product {
    display:grid;
    grid-template-columns: repeat(2, 1fr)
  }
}
@media screen and (max-width: 568px) {
  .list-product {
    display:grid;
    grid-template-columns: 1fr;
    width:85%;
    margin:0px auto;
  }
  .showPageCount {
    display:flex;
     flex-direction: column;
     row-gap: 20px;
  }
}
@media screen and (max-width: 414px) {
  .list-product {
    display:grid;
    grid-template-columns: 1fr;
    width:95%;
    margin:0px auto;
  }
}

// -----custom slice ptoduct detail----
.slider-product-detail {
  @apply relative w-full h-full;
  .slick-arrow {
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    padding:12px 20px;
    color:#4575d8;
    font-weight:600;
    border-radius: 8px;
    border: 1px solid #4575d8;
    &:hover {
      background-color: #4575d8;
      color:white;
    }
  }
  .slick-prev {
    transform: translateX(-100px);
    z-index: 1;
  }
  .slick-next {
    transform: translateX(20px);
  }
  .slick-list {
    width: 100%;
    @media screen and (max-width:640px) {
      height:470px;
    }
  }
  .slick-track {
    display:flex;
    width: 100%;
    height: 100%;
  }
}
// -----------login------
@media screen and (max-width: 359px) {
  .login-box {
   height: 100%;
  }
}
.login {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    backdrop-filter: blur(3px);
    box-shadow: inset 0px 0px 2000px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
  }
}

///loading
.loading {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap:6px;
  height:50px;
}

.loading span {
  width:4px;
  height:25px;
  background: #4c86f9;
  animation: scale 0.9s ease-in-out infinite;
}

.loading span:nth-child(2) {
  background: #49a84c;
  animation-delay: -0.8s;
}

.loading span:nth-child(3) {
  background: #f6bb02;
  animation-delay: -0.7s;
}

.loading span:nth-child(4) {
  background: #f6bb02;
  animation-delay: -0.6s;
}

.loading span:nth-child(5) {
  background: #2196f3;
  animation-delay: -0.5s;
}

@keyframes scale {
  0%,
  40%,
  100% {
    transform: scaleY(0.05);
  }

  20% {
    transform: scaleY(1);
  }
}

@media screen and (min-width: 468px) {
  .similar-product {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 916px) {
  .search {
    width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .search {
    width: 250px;
  }
}

///-------checkout-----
.info,
.delivery,
.payment {
  transition: all 0.5s ease;
}
.info.active-arrcodion {
  max-height: 0px;
  opacity: 0;
}
.delivery.active-arrcodion {
  max-height: 200px;
  opacity: 1;
}
.payment.active-arrcodion {
  max-height: 200px;
  opacity: 1;
}
@media screen and (max-width: 468px) {
  .delivery {
    display: flex;
    flex-wrap: wrap;
  }
  .delivery-item {
    font-size: 14px;
  }
}

// order
.table-order th {
  font-weight: 600;
  padding: 15px 0px;
}
